{% extends 'blog/base.html' %} {% block content %} {% for producto in Productos %}
<div class="product-card card ">
    <div id="product-img">
        <img class="product-img card-img-top img-fluid" src="{{ producto.imagen.url}}" alt="{{producto.nombre}}">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">{{producto.descripcion}}</p>
        <p class="">$ {{producto.valor}}</p>
        <a href="#" class="btn btn-primary">
         <i class="material-icons">shopping_cart</i>
        {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'producto_edit' pk=producto.pk %}" class="btn btn-warning editar_productodos"><i class="material-icons">edit</i></a>
        {% endif %}
        {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'producto_del' pk=producto.pk %}" class="btn btn-danger editar_producto"><i class="material-icons">delete</i></a>
        {% endif %}
        </a>

    </div>
</div>
{% endfor %} 
    {% if user.is_authenticated and user.is_staff %}
    <div class="text-center">
            <a class="btn btn-primary" href="{% url 'ingreso_producto' %}"><span class="glyphicon glyphicon-pencil"></span>Ingresar nuevo</a>
    </div>
    {% endif %}
{% endblock %}