{% extends 'blog/base.html' %} {% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" id="carro">

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<script>
    $(document).ready(function() {
        $('#slide1').addClass('active');
        let endpoitn = 'http://127.0.0.1:8000/api/imagenes/'

        $.ajax({
            url: endpoitn,
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {
                changeima(result)
            },
            error: function(){
                a = '<div id="slide1" class="carousel-item "><img class="d-block w-100" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.elconfidencial.com%2Falma-corazon-vida%2F2018-05-27%2Fninos-juegos-mas-inteligentes-seis_1569035%2F&psig=AOvVaw2IFmk08MoSW3Bpd9a9stKg&ust=1607844434912000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMjJ67X1x-0CFQAAAAAdAAAAABAD" alt="slide1"></div>'
            }

        })

        function changeima(result) {
            var a = ""
            $.each(result, function(ind, elemt) {
                a = '<div id="' + elemt['name'] + '" class="carousel-item "><img class="d-block w-100" src="' + elemt['imagen'] + '" alt="' + elemt['name'] + '"></div>'
                $("#carro").append(a);
            })
            $('#slide1').addClass('active');

        }
    })
</script>
{% endblock %}