{% extends 'blog/base.html' %} {% block content %}

<div class="login-form">
    <form method="POST">
        <h2 class="text-center">Iniciar Sesión</h2>
        {% csrf_token %} {{form.as_p}}
        <button class="btn btn-primary form-control" type="submit">Login</button>
        <div class="user_reset">
            <a href="{% url 'user_reset' %}">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
    <a href="{% url 'social:begin' 'facebook' %}">Login con facebook</a>

</div>
{% endblock %}